---
layout: page
asides: sle13
single: true
extra_sidebar:
  <section>
  <h1>Nuthatch@ICMT13</h1>
  <ul>
  <li><a href="/icmt13/">Overview</a></li>
  <li>Examples
    <ul>
      <li>– <a href="/icmt13/examples/class2table.html">Class2Table</a></li>
      <li>– <a href="/icmt13/examples/simplify.html">Simplify</a></li>
      <li>– <a href="/icmt13/examples/tostring.html">ToString</a></li>
    </ul>
  </li>
  <li><a href="/icmt13/benchmarks.html">Benchmarks</a></li>
  </ul>
  </section>
---
  {{ content }}

