// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


body {
  margin: 0 auto 0 0;
}

h1 {
  font-size: 1.8em;
  line-height: 1.1em;
}
